@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');

:root {
  font-family: 'Space Grotesk', 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 24px;
  scroll-behavior: smooth;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.title_gradient {
  background: -webkit-linear-gradient(left, #9333ea, #db2777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #262626;
}

.flat_shadow {
  box-shadow: 8px 8px 0 0 #f2f2f2;
}

.card_flat_shadow {
  box-shadow: 8px 8px 0 0 #f2f2f2;
  box-shadow: none;
}

@layer components {
  body {
    @apply px-4;
  }

  .main_container {
    @apply select-none max-w-4xl px-10 mt-8 mb-20 pt-10 pb-24 mx-auto flex w-full flex-col;
  }

  .box_radius {
    @apply rounded-lg;
  }

  .hover_translate {
    @apply hover:translate-x-1 hover:translate-y-1 transition-transform duration-150;
  }

  .card_styling {
    @apply bg-neutral-100 border-neutral-500;
  }

  .card_container:hover .card_title {
    @apply underline;
  }

  .card_title {
    @apply decoration-2;
  }

  .overview_text {
    @apply text-sm truncate;
  }

  /* cards ==================== */
  .card_text {
    @apply block h-16 w-full overflow-hidden pb-0 text-sm leading-snug text-black;
  }
  .card_hashtag {
    @apply mr-1 inline-block text-xs leading-snug text-black;
  }
  .blog_title_medium {
    @apply relative w-full pb-2 pt-1 text-2xl font-bold text-black;
  }
  .blog_text_medium {
    @apply block h-16 w-full overflow-hidden pb-0 text-base font-normal leading-snug text-black;
  }
  .group_title_medium {
    @apply relative w-full pt-1.5 pb-1 text-base font-bold text-black;
  }
  .group_text_medium {
    @apply block max-h-16 w-full text-sm font-normal leading-snug text-black;
  }

  /* nav ======================= */
  .nav_page_button {
    @apply mx-4 mt-1 mr-1 inline-block h-10 cursor-pointer select-none px-2 leading-10;
  }

  /* spacing ======================= */
  .content_divider {
    @apply w-full mb-8 border-b border-gray-100;
  }
}
